body {
  background: url("images/giphy.gif")no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

html{
  height: 100%;
  margin: 0;
  padding: 0;
}

#title h1 {
  color: #581845;
  font-size: 4em
}

#city_name {
  height: 5px;
  padding: 18px
}

#btn,
#geoLoc {
  padding: 10px;
  background: #ec9b3b;
  color: black;
  font-style: bold;
  border-radius: 8px;
  font-size: 1em
}
#errorMsg{
color:red;
font-size:1.5em;
}

#display_data {
  padding: 20px;
  border-radius: 10px;
  width: 25%;
  margin: auto;
  visibility: hidden;
  display: flex;
  flex-direction: column;
}

#display_data h1 {
  font-size: 2em;
  margin-bottom: 3px;
  color:darkblue;
}
#temperature{
  margin-top: 0px;
  margin-bottom: 3px;
  font-size: 3em;
  font-family: Arial, Helvetica, sans-serif;
  color:darkblue;
  font-size: 2rem;
}

#display_data img {
  height: 100px;
  width: 100px;
  margin-left: 140px;
}


#display_data p {
  margin-top: 0px;
  margin-bottom: 3px;
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
  color:darkgreen
}

#map {
  height: 50%;
  width: 50%;
  display: inline-block;
  margin-top: 20px
}